html,body{
    height: 100%;
    margin: 0;
}
.home{
    background-image: url("images/home_bg.jpg");

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.home-text{
    text-align: center;
    position: relative;
    top: 50%;
}